version: '3'

services:
  php:
    container_name: php
    build:
      context: ./php-apache
      args:
        - URL
    volumes:
      - ./src:/var/www/html
    ports:
      - "80:80"
    depends_on:
      - db-laravel
  db-laravel:
    image: mariadb:10.4
    environment:
      - MYSQL_DATABASE=db
      - MYSQL_USER=user
      - MYSQL_PASSWORD=password
      - MYSQL_ROOT_PASSWORD=rpassword
  adminer:
    container_name: adminer-lamp
    build:
      context: ./adminer
    ports:
     - "8080:8080"
    depends_on:
      - db-laravel
  maildev:
    image: djfarrelly/maildev
    container_name: maildev-lamp
    ports:
      - "1080:80"
